.compose .columns-wrapper {
 display: flex;
 gap: var(--standard-gap);
}

.regular-vision .compose .columns-wrapper {
 flex-direction: row;
 gap: var(--regular-vision-gap);
}

.compose .columns-wrapper > ul {
 flex: 1;
}

@media (max-width: 400px) {
 .compose .columns-wrapper {
  flex-direction: column;
 }
}

@media (min-width: 401px) {
 .compose .columns-wrapper {
  flex-direction: row;
 }
}

.compose > .toolbar {
 display: flex;
 flex-direction: column;
}

.compose > .toolbar > .top-section {
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.compose .hamburger-btn {
 display: flex;
 align-items: center;
}

.compose .hamburger-btn img {
 pointer-events: none;
}

.compose > .toolbar > ul {
 display: flex;
 flex-direction: column;
}

.compose > .toolbar > ul > li {
 display: flex;
 flex-direction: column;
 padding: 0.25rem 0;
 border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.compose > .toolbar > ul button {
 text-align: center;
}
