.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 20vw;
  list-style: none;
}

.home > li > button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #151535;
}
