@media (max-width: 649px) {
 .page-content {
  margin: var(--standard-padding);
 }
}

@media (min-width: 650px) {
 .page-content {
  max-width: 600px;
  margin: var(--standard-padding) auto;
 }
}

@media (min-width: 1920px) {
 .page-content {
  max-width: 900px;
  margin: var(--standard-padding) auto;
 }
}
