.settings {
 display: flex;
 flex-direction: column;
}

.settings > .card {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0.5rem;
 border-radius: 0.5rem;
 background-color: #151535;
}

.settings > .card.low-vision {
 flex-direction: column;
 align-items: initial;
 gap: 0.5rem;
}
