.shop {
 display: flex;
 gap: 1rem;
 margin: 1rem 20vw;
}

.shop > ul {
 display: flex;
 flex-direction: column;
 gap: 0.6rem;
 flex: 1;
 list-style: none;
}

.shop > ul > h2 {
 display: flex;
 justify-content: space-between;
}

.btn.done {
 background-color: #32327d;
}

.shop > ul > li {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}

.shop h3 {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.shop > ul > li > ul {
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
}

.shop > ul > li > ul > li {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 0.25rem;
 background-color: #151535;
 width: 100%;
 padding: 0.5rem;
 border-radius: 0.5rem;
}
