.alert {
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}

.alert > div {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1rem;
}

.alert input {
 background-color: #151535;
}

.btns-section {
 display: flex;
 justify-content: space-between;
}

.alert button.submit {
 background-color: blue;
}

.alert button.cancel {
 border: 0.1rem solid white;
}
