.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 0.5rem;
 padding: 0.15rem 0;
 border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.navbar > div {
 flex: 1;
 text-align: center;
}
