.horizontal-ruler {
 height: 0.1px;
 width: 100vw;
 position: absolute;
 /* top: 50vh; */
 background-color: white;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 word-wrap: break-word;
 margin-block: 0;
 margin-inline: 0;
}

a {
 text-decoration: none;
 color: inherit;
 cursor: pointer;
}

a:hover,
button:hover {
 opacity: 0.5;
 transition: 0.3s ease;
}

html {
 background-color: #0c0c1e;
 color: #fdfffcff;
 font-family: "Montserrat";
 font-weight: 100;
 margin: 0;
 font-size: 42pt;
 min-height: 100vh;
 position: relative;
}

h1,
h2,
h3 {
 font-weight: 100;
}

.low-vision h2 {
 font-size: 1.1rem;
 font-weight: 200;
}

.low-vision h3 {
 font-size: 1rem;
}

button {
 all: unset;
 cursor: pointer;
}

.btn {
 padding: 0.25rem;
 border-radius: 0.25rem;
 text-align: center;
}

.btn.add,
.btn.on {
 background-color: #3b6d37;
}

.btn.remove,
.btn.off {
 background-color: #bb2901;
}

input {
 all: unset;
}

/* Keyboard-only users accessibility */
/* button:focus {
  outline: orange 5px auto;
} */

.page-content {
 margin: 0 20vw;
 padding: 1rem 0;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 1rem;
}

a.card {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #151535;
 width: 100%;
 padding: 1rem;
 border-radius: 1rem;
 cursor: pointer;
}

.arrow {
 border: solid #fdfffc;
 border-width: 0 0.05rem 0.05rem 0;
 display: block;
 width: 0.4rem;
 height: 0.4rem;
 /* -webkit-transform: rotate(45deg); */
 transition: 0.3s ease;
}

.arrow.down {
 transform: translateX(calc(-0.207106781185 * 0.4rem))
  translateY(calc(-0.35355339 * 0.2rem)) rotate(45deg);
}

.arrow.up {
 transform: translateX(calc(-0.207106781185 * 0.4rem))
  translateY(calc(0.35355339 * 0.2rem)) rotate(-135deg);
}

.arrow.right {
 transform: translateX(calc(-0.207106781185 * 0.4rem)) rotate(-45deg);
}

@media (max-width: 1179px) {
 .content-wrapper {
  width: 20rem;
  margin: 0 auto;
 }

 .content-wrapper.low-vision {
  width: auto;
  margin: 0;
  padding: 0.5rem 0.25rem;
 }
}

@media (min-width: 1180px) {
 .content-wrapper {
  width: 25rem;
  margin: 0 auto;
 }

 .content-wrapper.low-vision {
  width: 15rem;
  margin: 0 auto;
 }
}
